.blog_up h6{
  color: black;
  font-size: 16px;
  padding-bottom: 16px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 128px;
  padding-bottom: 12px;
}
.blog_up h2{
  color: #161722;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: -1%;
  padding-bottom: 64px;
  padding-left: 20px;
  padding-right: 20px;
}
.blog{
  height: 325px;
  background-color: #FFF5EB;
  border-bottom: 15px solid #FFD0A0;
  margin-bottom: 128px;
  border-radius: 3px;
}
.blog h5{
  color: #A54E2B;
  padding-right: 20px;
  padding-top: 40px;
  font-size: 10px;
  padding-left: 32px;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.blog h3{
  color: #161722;
  font-size: 16px;
  font-weight: 600;
  padding-left: 32px;
  padding-right: 20px;
  padding-bottom: 10px;
}
.blog p{
  color: #1617229a;
  font-weight: 600;
  font-size: 11px;
  padding-left: 32px;
  padding-right: 20px;
  padding-bottom: 30px;
}
.blog h6{
  color: #161722;
  padding-left: 32px;
  padding-bottom: 7px;
  font-size: 12px;
}